@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    background-color: #111111;
}

h1{
    color: #ffffff;
}

#timer{
    color: #ffffff;
    text-align: center;
    font-size: 14vw;
    font-weight: normal;
    font-family: 'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /*Helps align vertically*/
    

    /*Removes the highlighting feature from the timer*/
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}